* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
}

nav {
    background-color: #3a68d4;
    width: 100%;
    align-items: center;
    color: white;
}

nav h1 {
    font-style: italic;
}

nav, nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    padding: 2vh;
    font-weight: bold;
    cursor: pointer;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

.sobre-a-loja {
    display: flex;
    margin: 40px;
}

.sobre-a-loja img {
    width: 50%;
}

.informacoes, .produtos {
    margin-top: 2vh;
    margin-left: 2vh;
}

.informacoes h2, .produtos h2 {
    padding-bottom: 2vh;
    border-bottom: 0.3vh solid #3a68d4;
    color: #3a68d4;
    font-style: italic;
}

.informacoes p {
    margin-top: 3vh;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 4%; /* Espaço entre as colunas */
    row-gap: 5%; /* Espaço entre as linhas */
}

.produtos {
    margin-left: 4vh;
}

.produto {
    max-width: 20vh;
    margin: 2.5vh;
}

.produto img {
    width: 20vh;
    height: auto;
    margin-top: 1vh;
}

.produto h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.produto p {
    margin-bottom: 1vh;
    font-size: 0.90em;
}

.produto button {
    background-color: #3a68d4;
    color: white;
    border: none;
    padding: 1vh;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .sobre-a-loja {
        flex-direction: column;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .informacoes {
        margin-top: 2vh;
        margin-left: 0.5vh;
    }

    .products {
        grid-template-columns: repeat(1, 100%);
        column-gap: 4%;
        row-gap: 4vh;
    }

    .produtos h2 {
        padding-bottom: 2vh;
        border-bottom: 0.3vh solid #3a68d4;
        color: #3a68d4;
        font-style: italic;
        max-width: 85%;
        margin-left: 6vw;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1366px){
    .sobre-a-loja {
        flex-direction: column;
    }

    .sobre-a-loja img {
        width: 100%;
    }

    .informacoes, .produtos {
        margin-top: 2vh;
        margin-left: 0.5vh;
    }

    .products {
        flex-wrap: wrap;
        width: 100%;
        grid-template-columns: repeat(2, 30%);
        column-gap: 10%;
        row-gap: 4vh;
        justify-content: center;
    }

    
    .produtos h2 {
        padding-bottom: 2vh;
        border-bottom: 0.3vh solid #3a68d4;
        color: #3a68d4;
        font-style: italic;
        max-width: 95%;
        margin-left: 3vw;
    }

    .produto {
        max-width: 100%;
        width: auto;
    }
}

